fastapi==0.136.1
fastapi-mail==1.6.4
uvicorn[standard]==0.46.0
pydantic==2.13.4
pydantic-settings==2.14.1
sqlmodel==0.0.38
asyncpg==0.30.0
python-dotenv==1.2.2
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
user-agents==2.2.0
httpx[http2]==0.28.1
alembic==1.18.4
